{% extends 'post_base.html' %}
{% block login %}
<div class="body-f">
<div class="row">
<div class="body">
<form action="/auth/login/" method="post">
  {% csrf_token %}
  <label for="username">Имя пользователя</label>
  <input type="text" name="username" id="username">
  <label for="password">Пароль</label>
  <input type="password" name="password" id="password">
  {% if login_error %}
  <label class="error">{{ login_error }}</label>
  {% endif %}
  <input class="button" type="submit" value="Войти">
  <div class="register"><a href="/auth/register">Регистрация</a></div>
</form>
</div>
</div>
</div>
{% endblock %}
