. {
    background-color: #F0FFF0;
}
header#page-header {
    height: 40px;
    background: #ADD8E6;
    font-size: 36pt;
    margin-left: 15px;

}
header#page-header > div.row {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.body  {
    background-color: f7f2fa;
    background-position: center;
    margin-left: 50px;
    margin-right: 300px;

}
.body-f {
    background-color: f7f2fa;
    margin-left: 190px;
    margin-right: 250px;
    box-shadow: 0 10px 12px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.post {
    border-bottom: 1px solid #9EC1D4;
}
.popular {
      position: absolute;
      top: 60px;
      left: 790px;
}
.comment {

  text-indent: 25px;
}
.add-5 {
  position: absolute;
  top: 65px;
  font-weight: bold;
  margin-left: 15px;
}
.fi-home {
    position: absolute;
    margin-left: 70px;
    font-size: 1.80rem;
    margin-top: None;
}
.fi-pencil {
  padding-right: 4px;
}
.fi-like {
  padding-left: 4px;
  display: inline-flex;
}
.date-f {
  display: inline;
  padding-left: 210px;
}
.pagination {
  display: block;
  text-align: center;
}
