{% extends 'post_base.html' %}
{% load el_pagination_tags %}
{% block content %}
{% paginate posts %}

<div class="add-5">
{% if username %}
     <a href="{% url 'post_new' %}">Написать статью</a>
{% endif %}
</div>

<div class="body-f">
<div class="row">
<div class="body">

{% for post in posts %}
<div class="post">
    <h1><a href="{% url 'post_details' pk=post.pk %}">{{ post.title }}</a></h1>
    <p>{{ post.text|linebreaks  }}</p>
    <p>Дата публикации: {{ post.published_date|date:"d M Y" }}</p>
</div>
{% endfor %}
</div>
</div>


<div class="pagination">
{% get_pages %}
{% if pages.paginated %}
    {{ pages.get_rendered }}
{% endif %}
</div>
<div class="popular">{% include 'polls/popular.html' %}</div>
</div>

{% endblock %}
