{% load staticfiles %}
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{% static "static/css/foundation.css" %}">
        <link rel="stylesheet" type="text/css" href="{% static "static/css/style.css" %}">
        <link rel="stylesheet" type="text/css" href="{% static "static/css/foundation-icons/foundation-icons.css" %}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src={% static "static/js/script.js" %}></script>
    </head>
             <div class="top-bar">
                 <a class="fi-home" href="{% url 'post_list' %}"></a>
                  <section class="top-bar-right"
                   {% if username %}
                   <li><a href="/auth/logout/">Выйти ({{ username }})</a></li>
                   {% else %}
                   <li><a href="/auth/login/">Войти</a></li>
                   {% endif %}
              </section>
             </div>
         </body>
{% block login %}{% endblock %}
{% block edit %}{% endblock %}
{% block content %}{% endblock %}
{% block register %}{% endblock %}
</html>
